@using ReportsServer.Models
<h2>Edit report</h2>
<h3>@ViewBag.Report.CreationDate</h3>
<label>Attached reports:</label>
<ul>
    @if (ViewBag.AddedReports != null)
    {
        foreach (var report in ViewBag.AddedReports)
        {
            <li>
                @report
                <br/>
            </li>
        }
    }
</ul>
@if (!ViewBag.Report.State && ViewBag.Report.Creator == ViewBag.CurrentUser)
{
    <form method="post" action="~/Home/EditReport" id="editReportForm" runat="server">
        <input type="hidden" name="uid" value="@ViewBag.Report.Uid"/>
        @Html.ListBox("reports", new MultiSelectList(ViewBag.Reports))<br>
        <input type="submit" name="action" value="Save"/>
        <input type="submit" name="action" value="Submit"/>
    </form>
}
