<h2>@ViewBag.User.Uid</h2>
<label>Boss:</label><br/>
<p><a runat="server" href="~/Home/U?uid=@ViewBag.User.Boss"> @ViewBag.User.Boss</a></p>
<label>Subordinates:</label><br/>
<p>
@foreach (var user in ViewBag.Subordinates)
{
    <a runat="server" href="~/Home/U?uid=@user">@user </a> 
}
</p>